 .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 150rpx;
  background-color: skyblue;
}
.nav .xuanzhe {
  margin-top: 70rpx;
  margin-left: 35rpx;
  font-size: 30rpx;
  text-align: center;
  line-height: 70rpx;
  width: 150rpx;
  height: 70rpx;
  background-color: aliceblue;
  border-radius: 30rpx;
}
.nav .week {
  position: fixed;
  top: 150rpx;
  left: 0rpx;
  width: 250rpx;
  background-color: cyan;
  z-index: 100;
}

.empty {
  width: 100%;
  height: 150rpx;
  background-color: #333;
}
.date1{
  position: fixed; 
  width:100%;
  background-color: #ffffff;
  border-bottom: 1rpx solid #333;
}
.date {
  height: 100rpx;
  float: left;
  color: gray;
 
}
.date .date-month{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  text-align: center;
  
}
.date .date-date{
  width: 100%;
  height: 50%;
  /*text-align:  center;*/
  border-radius: 30rpx;  
  display: flex;
  align-items: center;
  justify-content: center;
} 
.lesson{
  width:100%;
  margin-top: 100rpx;
}
.lesson {

  float: left;
  height: 1100rpx;
  box-sizing: border-box;
  border-left: 1rpx dashed rgb(166, 165, 165);
  border-top: 1rpx solid #333;
}
.lesson view {
  width: 100%;
  border-radius: 10rpx;
  /* box-shadow:0 10rpx 10rpx -4rpx #333; */
}
#z-a,
#z-b,
#z-c,
#z-d,
#z-e,
#z-f,
#z-g,
#z-h,
#z-i,
#z-j,
#z-k {
  height: 100rpx;
  line-height: 80rpx;
  text-align: center;
  border-bottom: 1rpx solid #333;
  box-sizing: border-box;
}
[id^="a-"],
[id^="b-"], 
[id^="c-"], 
[id^="d-"], 
[id^="e-"], 
[id^="f-"],
[id^="g-"] {
  font-size: 26rpx;
  overflow: hidden;
  border-left: 1rpx solid #ffffff;
  border-right: 1rpx solid #ffffff;
  box-sizing: border-box; 
}
.tanchaung{
  position: relative;
}
.t-tanchuang{
  width: 500rpx;
  height:400rpx;
  position: absolute;
  top:80%;
  left:50%;
  margin-top: 400rpx; 
  margin-left: -250rpx;
  background-color:#00ffff;
  border-radius: 20rpx;
  box-shadow: 0rpx 0rpx 30rpx 10rpx #333;
}
.t-tanchuang .cancel{
  margin-right: 0rpx;
  padding-left: 12rpx;
  width:75rpx;
  height:75rpx;
  border-radius: 75rpx;
  color:rgba(10, 10,10, 0.6);
  font-size: 70rpx;
  text-align: center; 
  line-height: 75rpx;
  background-color: rgba(255,255,255 , 0.6);
}
.t-tanchuang .qiandao{
  position: absolute;
  bottom: 0rpx;
  left:50%;
  margin-left: -75rpx;
  width:150rpx;
  height:75rpx;
  line-height: 75rpx;
}